
body {
  background-color: rgb(255, 250, 243) !important; /* Off White  Background */
  color: #ffc6f4; /* Off White Text */
  font-family: 'Playfair Display SC', 'Times New Roman', Times, serif; /* Apply the Playfair Display SC font */
  position: relative; /* For positioning elements */
  text-align: center;
  margin: 0px;
  padding: 0px
}

h1 {
  color: #ffc6f4; /* Pink color for headings */
}

p {
  color: darkslategray; /* Off white for paragraphs */
}


a {
  color: #ffc6f4; /* Light pink for links */
}

/* Header Container Styles */
.header-container {
  background-color: rgb(255, 250, 243);
  text-align: center;
  position: relative; /* For positioning the pseudo-element */
  overflow: hidden; /* Ensure the image doesn't spill out */
}

/* Header Layout  */

.logo {
  font-size: 1.25rem;
  font-family: Playfair Display SC;
  font-weight: bold;
  color: #ffc6f4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px; /* Space between image and text */
  border-top: 5px solid darkslategray;
  padding-top: 10px;

}

/* Logo Image */
.logo-image {
  width: 40px; /* Set the size of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 0px; /* Add some space between the image and the text */
}


.navbar {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  margin: 0px 0px 0px 0px;
  width: 100%;
  border-bottom: 5px solid darkslategray;
  padding-bottom: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 100px;
  display: inline-flex;
}

.navbar li a {
  color: #ffc6f4;
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 0px 75px;
  margin-top: 20px;
  border-top: 5px solid darkslategray;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid darkslategray;
  padding-bottom: 10px;
  border-left: 5px solid darkslategray;
  padding-left: 10px;
  margin-right: 20px;
  border-right: 5px solid darkslategray;
  padding-right: 10px;
  border-radius: 8%;
}

.navbar li a:hover {
  color: darkslategray;
  text-decoration: underline; /* Underline*/
}


/* Kia Ora Taiao! About Section */

.about { 
  position: relative;
  color: darkslategray;
  border-bottom: 5px solid darkslategray;
  padding: 200px 0px 200px 0px;
}

.about::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkslategray;
  border: 5px solid #ffc6f4;
  opacity: 0.8;  /* Adjusted opacity */
  z-index: -1;

}

.about h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 3rem;
  color: rgb(255, 250, 243);
  position: relative;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 0px;
}

.about p {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color: rgb(255, 250, 243);
  line-height: 1.6;
  position: relative;
  display: block;
  border-radius: 5px;
  margin-top: 0px;
  padding: 0px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Project Section */

.projects {
  color: rgb(255, 250, 243);
  font-size: x-large;
  text-align: left;
  padding: 15px 20px 15px 15px;
  border-top: 5px solid darkslategray;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: rgba(47, 79, 79, 0.693);
  margin: 0;
}

.blog-description {
font-size: medium;
font-family: 'Playfair Display';
}

.blog-image {
  width: 150px; /* Set the size of the image */
  height: auto;
  margin-bottom: 5px;
}

.project-grid {
  list-style: none; /* removes bullet points */
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* responsive columns */
  gap: 50px;
  max-width: 1500px;
}

.project-grid li {
  background-color: #ffebf7;
  font-size: 20px;
  border: 2px solid darkslategray;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-grid li:hover {
  background-color: #ffc6f4;
  text-decoration: underline; /* Underline*/
}

.project-grid a {
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
  display: block;
}



/* Table */

.table-heading {
  text-align: center;
  color: darkslategray;
  margin-top: 0px;
  border-top: 3px solid darkslategray;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.skills-table caption {
color: darkslategray;
font-size: x-large;
padding-bottom: 15px;

}

.skills-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #fff;
  border: none;
}

.skills-table th,
.skills-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 3px solid darkslategray;
  border-top: 3px solid darkslategray;
  border-right: 3px solid darkslategray;
  border-left:3px solid darkslategray;

}


      /* Table Body */

.skills-table td {
  color: darkslategray;
  font-family: 'Playfair Display', serif;
}

    
     /* Table Heading */

.skills-table th {
  background-color: #ffebf7;
  color: darkslategray;
  font-weight: bold;
}

.skills-table tr:hover {
  background-color: #ffc6f4;
  transition: background-color 0.3s ease;
  text-decoration: underline; /* Underline*/
}

/* Connect */
.connect {
  margin-top: 20px;
  border-top: 3px solid darkslategray;
  padding: 20px 0px 0px 0px; /* Unified padding */
  text-align: center; /* Center the content by default */
  color: darkslategray;
  
}

.connect a {
  color: #ffc6f4; /* Pink color for the links */
  text-decoration: none; /* Optional: Remove underline */
  font-weight: bold; /* Optional: Make links stand out */
  transition: color 0.3s ease; /* Optional: Smooth color change on hover */
}

.connect a:hover {
  color: darkslategray; /* Change the link color on hover */
  text-decoration: underline; /* Underline*/
}


/* Footer */

.site-footer {
  margin-top: 20px;
  border-bottom: 3px solid darkslategray;
  padding: 20px 20px; /* Unified padding */
  text-align: right; /* Center the content by default */
}


/* Classes vs IDs side by side layout */
.rq1 {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.question-heading {
  border-bottom: 5px solid darkslategray;
    font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
  padding: 0px 0px 20px 0px;
  width: 100%; 
  text-align: center;
  margin-bottom: 30px;
  color: #ffc6f4;
}

.question-heading p {
font-family: Playfair Display;
font-size: x-large;
font-style: italic;
}

.classes p, .id p {
  color: darkslategray;
  font-family: 'Playfair Display', serif;

}

.classes ul {
  text-align: left;
  font-family: Playfair Display;
  font-size: x-large;
}
.id ul {
  text-align: left;
  font-family: Playfair Display;
  font-size: x-large;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: darkslategray;
  font-family: 'Playfair Display', serif;
}

.comparison-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  max-width: 2000px;
  color: darkslategray;

}

.html-table-heading {
font-family: 'Playfair Display';

}

#fontchange {
  font-family: 'Playfair Display';

}

.classes, .id {
  flex: 1;
  padding: 15px;
  border: 5px solid darkslategray;
  font-family: 'Playfair Display SC';
  border-radius: 2px;
}

.classes h2, .id h2 {
  color: darkslategray;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Playfair Display SC';
}

.classes p, .id p {
  color: darkslategray;
  line-height: 1.6;
  text-align: left;
}

#sc-font {
  font-family: 'Playfair Display SC', serif;
}

#regular-font {
  font-family: 'Playfair Display', serif;
}

#idsc-font{
  font-family: 'Playfair Display SC', serif;
}
#idregular-font {
  font-family: 'Playfair Display', serif;
}

/* Table */

.comparison-table { 
padding-bottom: 100px;

}

.comp-table-heading {
  text-align: center;
  color: darkslategray;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.comp-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 8px;

}

.comp-table th,
.comp-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 3px solid darkslategray;
  border-top: 3px solid darkslategray;
  border-right: 3px solid darkslategray;
  border-left:3px solid darkslategray;
}

      /* Table Body */

.comp-table td {
  color: darkslategray;
  font-family: 'Playfair Display', serif;
}

    
     /* Table Heading */

.comp-table th {
  background-color: #ffebf7;
  color: darkslategray;
  font-weight: bold;
}

.comp-table tr:hover {
  background-color: #ffc6f4;
  transition: background-color 0.3s ease;
  text-decoration: underline; /* Underline*/
}

/* Identity Values */
.ivse h1{
  font-family: 'Playfair Display SC', serif;
  font-size: xxx-large;
  border-bottom: 5px solid darkslategray;
  padding-bottom: 40px;
}

.ivse h2 {
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  text-align: left;
  margin-left: 20px;
  margin-top: 0px;

}

.ivse p{
  font-family: 'Playfair Display', serif;
text-align: left;
font-size: x-large;
margin-left: 20px;
margin-top: 0px;
}

.ivse table {
text-align: left;
justify-content: center;
color: darkslategray;
margin: 0 auto; /* Centers the table horizontally */
border-collapse: collapse; /* Optional: makes borders cleaner */
border: 5px darkslategray solid ;
}

.ivse th, .ivse td {
  border: 2px solid darkslategrey; /* This makes cell borders thicker too */
  padding: 10px;
}

.eq-table-contents {
font-family: 'Playfair Display';
}

.eq-list li{ 
color: darkslategray;
text-align: left;
font-family: 'Playfair Display';
}

.eq-list {
margin-bottom: 100px;

}

/* Sprint Three Blog - JavaScript */

.sprint-three-blog {
  text-align: left;
  margin: 0 2rem;
}

.sprint-three-blog h2 {
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 2rem;
}
.sprint-three-blog h2::after {
  content: '';
  position: absolute;
  left: -100vw;
  right: -100vw;
  bottom: 0;
  height: 5px;
  background-color: darkslategray;
}

.sprint-three-blog summary {
  font-size: 30px;
  text-align: left;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 8px;;
  border: 5px solid darkslategrey;
  padding: 1.5rem;
  background-color: rgba(47, 79, 79, 0.529);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 30px 30px 30px 30px;
  color: #ffebf7;
}

.comp-table {
  list-style: none; /* removes bullet points */
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* responsive columns */
  gap: 50px;
  max-width: 1500px;
}


.comp-table ul {
  background-color: #ffebf7;

}

.comp-table li {
  background-color: #ffebf7;
  font-size: 20px;
  border: 5px solid darkslategray;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comp-table h3 {
  font-family: "Playfair Display SC";
  color: darkslategray;
  font-size: 35px;
  }

.comp-table h4 {
font-family: "Playfair Display SC";
color: darkslategray;

}

.comp-table p {
  font-family: "Playfair Display";
  
  }

/*JavaScript Concepts*/

.js-concepts section {
  border-top: 5px solid rgba(47, 79, 79, 0.419);
  padding: 20px;
  margin: 25px 50px 40px 50px;
  color: #ffebf7;
  
}

.js-concepts h4 {
  font-size: 50px;
  color: darkslategrey;

}

.js-concepts p, ul, h5 {
  font-size: 20px;
  color: darkslategrey;
  font-family: 'Playfair Display';
}


.js-concepts img {
  margin: 0 auto;
  width: 80%; /* Or use px like 400px */
  max-width: 300px; /* Optional: prevent it from getting too big */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

/* Accessing Data */

.accessing-data ul {
  font-size: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* place the list items side by side */
  justify-content: space-between; /* equal space between items */
}

.accessing-data pre {
  background-color: #ecdce5;
  border-radius: 8px;
  padding: 10px;
  color: darkslategrey;
  font-size: x-large;
}

.accessing-data li {
  font-family: 'Playfair Display SC';
  font-size: 35px;
  width: 45%;
  padding: 20px;
  border: 5px solid darkslategrey;
  border-radius: 8px;

  
}

.accessing-data p {
  font-size: 25px;

}

.ad-comp-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: x-large;
}


.ad-comp-table-heading {
  text-align: center;
  color: darkslategray;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.ad-comp-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 8px;

}

.ad-comp-table th,
.ad-comp-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 3px solid darkslategray;
  border-top: 3px solid darkslategray;
  border-right: 3px solid darkslategray;
  border-left:3px solid darkslategray;
}

      /* Table Body */

.ad-comp-table td {
  color: darkslategray;
  font-family: 'Playfair Display', serif;
}


     /* Table Heading */

.ad-comp-table th {
  background-color: #ffebf7;
  color: darkslategray;
  font-weight: bold;
}

.ad-comp-table tr:hover {
  background-color: #ffc6f4;
  transition: background-color 0.3s ease;
  text-decoration: underline; /* Underline*/
}


.functions pre {
  background-color: #fff0f8;
  border-radius: 8px;
  padding: 10px;
  color: darkslategrey;
  font-size: x-large;
}
.functions ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 0;
  list-style: none;
}

.functions li {
  background: #ffebf7;
  padding: 15px;
  border-radius: 10px;
  border: 5px solid darkslategrey;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.functions li p {
  margin: 5px 0 0;
}

.function-pair {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: 5px solid darkslategrey;
  border-radius: 8px;

}

.functionsbs {
  flex: 1;
  min-width: 500px;

}

.functionsbs pre {
  background-color: #f4f4f4;
  padding: 0px;
  border-radius: 6px;
  overflow-x: auto;
}

#function-footer {
  text-align: center;
  font-size: x-large;
}



/* Neuroplasticity */

.sprint-four-blog {
  text-align: left;
  margin: 0 2rem;
}

.sprint-four-blog h2 {
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 2rem;
}
.sprint-four-blog h2::after {
  content: '';
  position: absolute;
  left: -100vw;
  right: -100vw;
  bottom: 0;
  height: 5px;
  background-color: darkslategray;
}

.sprint-four-blog summary {
  font-size: 30px;
  text-align: left;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 8px;;
  border: 5px solid darkslategrey;
  padding: 1.5rem;
  background-color: rgba(47, 79, 79, 0.529);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 30px 30px 30px 30px;
  color: #ffebf7;
}

.sprint-four-blog ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 20px;
  margin: 20px;
  
}

.sprint-four-blog li {
    text-align: center;
    list-style-type: none;
    font-family: "Playfair Display";
    font-size: x-large;

}
.sprint-four-blog p {
    font-size: x-large;
}

iframe {
  width: 60%;
  height: 315px; 
}

/*
.boosting {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 20px;
  margin: 20px;

}

.boosting-li {
  text-align: center;
  list-style-type: none;
  font-family: "Playfair Display";
  font-size: x-large;

  
}
  */
.boosting h4 {

  font-size: x-large;

}

  .boosting {
    list-style: none;
    padding: 20px;
    margin: 20px auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px; 
    max-width: 1500px; 
    justify-content: center;
  }
  
  .boosting li {
    background-color: #ffebf7;
    font-size: 16px;
    border: 5px solid darkslategray;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  

.boosting li:hover {
  background-color: #ffc6f4;
}


/* widescreen displays */

@media only screen and (min-width: 920px) {
  .container { 
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container { 
    max-width: 90%;
    margin: 0 auto;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container { 
    max-width: 95%;
    margin: 0 auto;
    padding: 0 10px;
  }
}