body {
  background-color: darkslategray !important; /* Dark Gray Background */
  color: #f3e6d7; /* Off White Text */
  font-family: 'Playfair Display SC', 'Times New Roman', Times, serif; /* Apply the Playfair Display SC font */
}

h1 {
  color: #ff9fec; /* Purple color for headings */
}

p {
  color: #f3e6d7; /* Off white for paragraphs */
}

a {
  color: #ff9fec; /* Light pink for links */
}

/* Adding a background image with opacity */
body::before {
  content: ''; /* Necessary for the pseudo-element */
  position: absolute; /* Position it over the body */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/wildflower.jpeg'); /* Path to wildflower image */
  background-size: cover; /* Ensure the image covers the entire body */
  background-position: ; /* Center the image */
  opacity: 0.3; /* Lower opacity */
  z-index: -1; /* Put the image behind the content */
}

/* Responsive Media Queries */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

@media only screen and (max-width: 400px) {
  .container {
    /* some layout rules */
  }
}
